name: Bundle OpenAPI Specification
on: [push]

jobs:
  api-bundling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
    
      - name: Bundle OpenAPI specification
        env:
          INPUT_PATH: 03-multiple-files-with-paths/openapi.yml
          OUTPUT_PATH: 03-multiple-files-with-paths/bundled-openapi.yml
          OUTPUT_FILETYPE: yaml
          DEREFERENCE: false
        run: |
          # makes the script existing once an error occours
          set -e

          # check if input file exists
          if [ ! -f "$INPUT_PATH" ]; then
              echo "::error::$INPUT_PATH does not exist!"
              exit 1
          fi

          # bundle specs with / wihout fully dereferencing
          if [ "$DEREFERENCE" = true ] ; then
              npx -p @apidevtools/swagger-cli swagger-cli bundle -r ${INPUT_PATH} -o ${OUTPUT_PATH} -t ${OUTPUT_FILETYPE} 
          else
              npx -p @apidevtools/swagger-cli swagger-cli bundle ${INPUT_PATH} -o ${OUTPUT_PATH} -t ${OUTPUT_FILETYPE} 
          fi 
      
      - name: Upload the bundled OpenAPI specification
        uses: actions/upload-artifact@v2
        with:
          name: bundled-openapi
          path: 03-multiple-files-with-paths